<h1>Your Cart</h1>

<div>
	<% if @line_items != nil %>
		<ul>
			<% @line_items.each do |line_item| %>
				<li><%= line_item.product.name %>
					<%= link_to 'Delete', cart_delete_path(line_item_id: line_item.id), :data => {:confirm => 'Are you sure?', :method => 'delete'} %></li>
				<li><%= number_to_currency line_item.product.price %></li>
				<li>Qty:<%= line_item.quantity %> <a href="#" data-toggle="modal" data-target="modal_<%= line_item.product.id %> "><span class="fa fa-pencil"></span> Edit</a></li>

				<li>Subtotal: <%= number_to_currency line_item.line_item_total %></li><br>

			<% end %>
		</ul>
	<% else %>

		<p>Your cart is empty. go get more things!</p>
		<p><%= link_to "Shop", root_path, class: "btn btn-light" %></p>

	<% end %>
</div>

<div>
	<%= link_to "Proceed to Checkout", checkout_path, class: "btn btn-light" %>
</div>