<h1>Welcome to the bobo electronics store!</h1>
<p>We are here to take all the monies</p>
<p id="notice"><%= notice %></p>


<div class="row">
  <% @products.each do |item| %>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card mb-2" >
        <div class="card-image-top">
          <% if item.image.url.nil? == false %>
            <p><%= image_tag item.image.url, width: "100%" %></p>
          <% end %>
        </div>
        <div class="card-body">
          <h4><%= link_to item.name, item, class: "card-title" %></h4>
          <p><%= number_to_currency item.price %></p>
          <p><a href="#" data-toggle="modal" data-target="#modal_<%= item.id %>"><span class="fa fa-plus"></span>Quick Info</a></p>
        </div>
      </div>  
    </div>
    <div class="modal fade" id="modal_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= link_to item.name, item %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if item.image.url.nil? == false %>
            <p><%= image_tag item.image.url, width: "100%" %></p>
        <% end %>
        <p><%= number_to_currency item.price %></p>
        <p><%= link_to item.brand %></p>
        <p><%= link_to item.description %></p>
        <p>Made by <%= item.brand %></p>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <% end %>
</div>
